@using Aspire.Dashboard.Model

@{
    var vm = GetStateViewModel();
    var waitsFor = Resource.KnownState is KnownResourceState.Waiting && Resource.WaitFors.IsEmpty ? null : string.Join(" ", Resource.WaitFors.Select(w => w.ResourceName));
}

<div
    class="state-column-cell"
    data-waits-for="@waitsFor"
    data-resource-name="@Resource.DisplayName">

    <FluentIcon
        Value="@vm.Icon"
        Color="@vm.Color"
        Class="severity-icon" />

    <span>@vm.Text</span>

    <UnreadLogErrorsBadge
        UnviewedErrorCounts="UnviewedErrorCounts"
        Resource="@Resource" />

</div>
