@{
    var vm = GetStateViewModel();
    var waitsFor = Resource.WaitsFor.IsEmpty ? null : string.Join(" ", Resource.WaitsFor);
}

<div
    class="state-column-cell"
    data-waits-for="@waitsFor"
    data-resource-name="@Resource.DisplayName">

    <FluentIcon
        Value="@vm.Icon"
        Color="@vm.Color"
        Class="severity-icon" />

    <span>@vm.Text</span>

    <UnreadLogErrorsBadge
        UnviewedErrorCounts="UnviewedErrorCounts"
        Resource="@Resource" />

</div>
